[submodule "deps/redo"]
	path = deps/redo
	url = git://github.com/JacobVorreuter/redo.git
[submodule "deps/redgrid"]
	path = deps/redgrid
	url = git://github.com/JacobVorreuter/redgrid.git
[submodule "deps/nsync"]
	path = deps/nsync
	url = git://github.com/JacobVorreuter/nsync.git
